#container {
    border: 1px solid #000 !important;
    padding: 20px 40px 20px 40px;
    margin: 10px;
    width: 650px;
}

.boxes {
    display: inline-block;
    vertical-align: top;
}

#results {
    text-align: right;
    width: 400px;
}

#headers {
    text-align: left;
    width: 200px;
    margin-left: 20px;
}
