
.messagebox {
  margin: 10px 0px 5px 10px;

  display: block;
    background-color: rgb(146, 195, 183);
}

.messagebody {
  padding:10px;
  font-size: 20px;

}

.authorinfo {
  font-size: 10px;
  font-style: italic;
  padding: 0px 0px 5px 20px;
}

.commentbox {
  margin: 2px 0px 2px 50px;
  background-color: rgb(134, 143, 190);
  display:block;
}

.commentbody {
  padding: 10px;
  font-size: 16px;

}
.formbox {
  margin: 0px 0px 0px 50px;
  vertical-align: top;
  display: inline-block;
}
/* Style the buttons that are used to open and close the accordion panel
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover)
button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

/* Style the accordion panel. Note: hidden by default
div.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;

}

button.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) 
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}
*/
