<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <title>Register Page</title>
        <link rel="stylesheet" type="text/css" href="{% static 'login/css/style.css' %}"/>
    </head>
    <body>
        <div>
            <form action="/login/newReg" method="post">
                {% csrf_token %}
                First Name
                <input type="text" name="first_name" value="">
                Last Name
                <input type="text" name="last_name" value="">
                E-Mail<input type="email" name="email" value="">
                Password
                <input type="Password" name="password" value="">
                Re-Submit Password
                <input type="Password" name="password2" value="">
                <button type="submit3" name="submit3" value="submit3">Submit Login Credentials</button>
            </form>
        </div>
    </body>
</html>
