<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>date assignment</title>
    </head>
    <body>

        <div class="line">
            <p>
              The random word is:

                <span>
                    {{string}}
                </span>
                <p>{{request.session.count}}</p>
                <form action="/redirect" method="post">
                    {% csrf_token %}
                    <button type="submit" name="button">refresh</button>
                </form>

            </p>
        </span>
        </div>
    </body>
</html>
